package {{configPackage}};

{{#models}}
    {{#model}}
        {{#isEnum}}
import {{modelPackage}}.{{#lambda.pascalcase}}{{name}}{{/lambda.pascalcase}};
        {{/isEnum}}
    {{/model}}
{{/models}}

import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.core.convert.converter.Converter;

@Configuration
public class EnumConverterConfiguration {

{{#models}}
{{#model}}
{{#isEnum}}
    @Bean(name = "{{configPackage}}.EnumConverterConfiguration.{{classVarName}}Converter")
    Converter<{{{dataType}}}, {{#lambda.pascalcase}}{{name}}{{/lambda.pascalcase}}> {{classVarName}}Converter() {
        return new Converter<{{{dataType}}}, {{#lambda.pascalcase}}{{name}}{{/lambda.pascalcase}}>() {
            @Override
            public {{#lambda.pascalcase}}{{name}}{{/lambda.pascalcase}} convert({{{dataType}}} source) {
                return {{#lambda.pascalcase}}{{name}}{{/lambda.pascalcase}}.fromValue(source);
            }
        };
    }
{{/isEnum}}
{{/model}}
{{/models}}

}
